@import "../_mixins"
@import "../_variables"

.card
  background-color: var(--lighter-background-color)
  border-style: hidden
  height: 380px
  width: 280px
  text-align: left
  overflow: hidden
  border-radius: 10px
  margin: 0px 10px
  word-wrap: break-word
  white-space: normal
  word-break: normal
  text-overflow: ellipsis
  border: 1px solid var(--border-color)
  box-shadow: var(--box-shadow)
  backdrop-filter: blur(15px)
  cursor: pointer
  position: relative
  @include display-col
  @include tablets-and-down
    min-height: 300px
    margin-bottom: 30px

  &__section
    &--title
      margin-bottom: 0 !important
      padding-bottom: 0 !important

  &__title
    font-family: var(--font-family-title)
    text-overflow: ellipsis
    padding: 15px 15px 10px 15px
    color: var(--primary-color)

  &__text
    line-height: 1.25
    overflow: hidden
    max-height: 98px
    text-overflow: ellipsis
    padding: 0px 15px
    color: var(--text-color)
    text-align: left

  img
    overflow: hidden
    background-color: var(--lighter-background-color)
    height: 160px
    width: 100%
    object-fit: cover
    position: relative
    transition: all ease 0.5s

  &__footer
    @include display-row
    justify-content: space-between
    padding: 0px 15px
    margin-top: 15px

  &__read
    &--more
      text-decoration: none
      color: var(--primary-color)
      &:hover
        color: var(--text-color)

  &__date
    &--published
      text-decoration: none
      color: var(--text-color)
