@import "../_variables"
@import "../_mixins"

.lang-switcher
  @include display-row
  @include tablets-and-down
    justify-content: space-around
    align-items: center

  &__flag
    margin-left: 5px
    margin-bottom: -20%
    width: 30px
    @include tablets-and-down
      width: 50px
