
$container-width: 900px

\:root
  --main-background-image: #1f1f1f
  --background-color: #293d84
  --lighter-background-color: #1f1f1f
  --button-text-color: #000
  --primary-color: #5797ef
  --border-color: #6a6db0
  --text-color: #FFF
  --code-background: #232633
  --code-base-color: #58bfec
  --invert-img-color: invert(1)
  --bg-transparence: #293d84
  --lighter-primary-color: #293d84
  --box-shadow: none
  /* Global */
  --font-family-title: 'Zilla Slab', serif
  --font-family-base: 'Montserrat', 'Helveltica', 'Arial', sans-serif

.dark-mode:root
  --background-color: #f2f2f2
  --lighter-background-color: #f2f2f2
  --button-text-color: #fff
  --primary-color: #000
  --border-color: #1f1f1f
  --text-color: #848484
  --code-background: #ffff
  --code-base-color: #000
  --invert-img-color: none
  --bg-transparence: #FFF
  --lighter-primary-color: #F2F2F2
  --main-background-image: #ededed
  --box-shadow: none
